.badge-danger {
    float: right;
    top: -20px;
    border-radius: 10px;
    position: relative;
}
img.badge-image {
	height: 64px;
}

.badge-type {
	top: 20px;
	position: relative;
	font-size: 12px;
	font-weight: bold;
}
.badge-icon {
	text-align: center;
}
.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
}

#portlet_userbadgesdisplay > div > div > div > div.container > div.row > div.col-sm-1 {
	max-width: 100%;
}