.badge-danger {
border-radius: 10px;
float: right;
position: relative;
top: -20px;
}
img.badge-image {
	height: 64px;
}

.badge-type {
	font-size: 12px;
	font-weight: bold;
	position: relative;
	top: 20px;
}
.badge-icon {
	text-align: center;
}
.dropdown-toggle::after {
border-left: .3em solid transparent;
border-right: .3em solid transparent;
border-top: .3em solid;
content: "";
display: inline-block;
height: 0;
margin-left: .3em;
vertical-align: middle;
width: 0;
}

#portlet_userbadgesdisplay > div > div > div > div.container > div.row > div.col-sm-1 {
	max-width: 100%;
}