.badge-danger {
	border-radius: 10px;
	float: right;
	position: relative;
	top: -20px;
}

img.badge-image {
	height: 64px;
}

.badge-type {
	position: relative;
	top: 20px;
}

.dropdown-toggle::after {
	border-left: .3em solid transparent;
	border-right: .3em solid transparent;
	border-top: .3em solid;
	content: "";
	display: inline-block;
	height: 0;
	margin-left: .3em;
	vertical-align: middle;
	width: 0;
}

input.flexselect {
	border: solid 1px #2E5AAC;
	border-radius: 5px;
	height: 40px;
	padding-left: 14px;
	width: 100%;
}